<title>Manos Saratsis | <%= @item[:title] %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="description" content="<%= @item[:description] %>"/>
<!-- OpenGraph markup for FB + LI -->
<% if @item[:kind] == 'article' %>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="<%= @item[:created_at] %>"/>
<% else %>
<meta property="og:type" content="website"/>
<% end %>
<meta property="og:site_name" content="Manos Saratsis"/>
<% if @item.identifier.to_s == '/index.erb' %>
<meta property="og:url" content="<%= $site %>"/>
<% else %>
<meta property="og:url" content="<%= $site %><%= @item.identifier.without_ext %>"/>
<% end %>
<meta property="og:title" content="<%= @item[:title] %>"/>
<meta property="og:description" content="<%= @item[:description] %>"/>
<% if @item[:image] %>
<meta property="og:image" content="<%= "#{$site}#{asset_path(@item[:image])}" %>"/>
<% end %>
<!-- Twitter card markup -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="<%= @item[:title] %>"/>
<meta name="twitter:description" content="<%= @item[:description] %>"/>
<% if @item[:image] %>
<meta name="twitter:image" content="<%= "#{$site}#{asset_path(@item[:image])}" %>"/>
<% end %>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1e1e1e">
<meta name="msapplication-TileColor" content="#ececec">
<meta name="theme-color" content="#1e1e1e">
<link rel="stylesheet" href="/css/stylesheet.css" />
