<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%=render '/partials/head.erb' %>
  </head>
  <body>
    <%=render '/partials/navbar.erb' %>
    <div class="banner" style="background-image: url(<%= asset_path(@item[:image]) %>)"></div>
    <main>
      <div class="post">
        <h1><%= @item[:title] %></h1>
        <hr>
        <p class="description"><%= @item[:description] %></p>
        <aside>Posted at: <%= @item[:created_at] %></aside>
        <article>
          <%= yield %>
        </article>
      </div>
    </main>
    <%= render '/partials/footer.erb' %>
    <%= render '/partials/scripts.erb' %>
  </body>
</html>
